.forgotpassword {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #ffffff, #88C13E);
    /* backdrop-filter: blur(50px); */
}
