.common-background{
    background-image: url(https://wallpaperaccess.com/full/1904806.jpg);
    background-size: cover;
    height: '100%';
    position: relative;
    background-position: center center;
}
