.common-background{
    background-image: url(https://res.cloudinary.com/djd2rpgil/image/upload/v1699819681/theme/ekz0iw2f9uat99ii08sp.webp);
    background-size: cover;
    height: '100%';
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}


.add-slot{
    background-image: url(https://res.cloudinary.com/djd2rpgil/image/upload/v1700747640/theme/qvpkvps4k2kdrkpxhgjk.png);
    background-size: cover;
    height: '1000px';
    position: relative;
    background-position: center center;
}


.dashboard {
    background-image: url(https://res.cloudinary.com/djd2rpgil/image/upload/v1699819681/theme/ftq4mot1ienmjapu3zd7.jpg);
    background-size: cover;
    height: '1000px';
    position: relative;
    background-position: center center;
}


.user-dashboard {
    background-image: url(https://res.cloudinary.com/djd2rpgil/image/upload/v1699819680/theme/uq3bwxrukbptjyexnovd.jpg);
    background-size: cover;
    height: '1000px';
    position: relative;
    background-position: center center;
}


.user-subscription {
    background-image: url(https://res.cloudinary.com/djd2rpgil/image/upload/v1699819680/theme/ar8nwhyreaufvwgrmfyt.webp);
    background-size: cover;
    height: '1000px';
    position: relative;
    background-position: center center;
}


.common-background-user {
    background-image: url(https://res.cloudinary.com/djd2rpgil/image/upload/v1699819680/theme/aueilaujmmp7lpuiifzt.webp);
    background-size: cover;
    height: '1000px';
    position: relative;
    background-position: center center;
}


.planpage {
    background-image: url(https://res.cloudinary.com/djd2rpgil/image/upload/v1699819680/theme/uq3bwxrukbptjyexnovd.jpg);
    background-size: cover;
    height: '1000px';
    position: relative;
    background-position: center center;
}