.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.container-footer {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5rem;
}

.column {
    flex: 1;
    padding: 0 20px;
    line-height: 2rem;
}



.footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer p, .footer ul {
    margin-top: 0;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links p {
    color: #fff;
    text-decoration: none;
}

.socialIcons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.MuiIconButton-root {
    margin-right: 10px;
}

.copyRight {
    text-align: center;
    margin-top: 20px;
}

/* Additional CSS for specific icons */
/* Add more styles as needed for other social media icons */
.MuiSvgIcon-root.MuiFacebook-fontSizeLarge,
.MuiSvgIcon-root.MuiTwitter-fontSizeLarge {
    color: #fff; 
}



.default-submit-btn {
    background-color: #88C13E;
    color: #fff;
    width: 100px;
    height: 50px;
    /* border: none; */
    border-color: #88C13E;
    font-size: 14px;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 5px;
}

.default-submit-btn:hover{
    background-color: #121212;
    color: #88C13E;
    cursor: pointer;
    border: none;
}


.submitform{
    height: 50px;
    /* border-radius: 5px; */
    border-color: #88C13E;
    width: 250px;
    color: #5B5B5B;
    padding-left: 10px;
    font-size: 16px;
    border-right: none;
    border-radius: 5px 0 0 5px;
}




@media screen and (max-width: 920px) {
    .container-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 545px) {
    .container-footer {
        grid-template-columns: 1fr;
    }
}






.responsive-div {
    margin-right: 0vh;
    margin-top: 1em;
}

.submitform, .default-submit-btn {
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .submitform, .default-submit-btn {
        width: auto;
    }
}
