.banner-style-one{
    background-image: url(https://res.cloudinary.com/djd2rpgil/image/upload/v1696773683/gkfzrrjshubkcu8lnzbx.png);
}

.banner-style-one {
    background-size: cover;
    min-height: 400px;
    position: relative;
    background-position: center center; }
    .banner-style-one .banner-bg-style-one {
        background-size: cover;
        height: 100vh; }
    .banner-style-one .banner-bg-style-one .banner-inner-style-one {
        position: absolute;
        top: calc(30% - 1px); 
        margin-left: 100px;
    }
        .banner-style-one .banner-bg-style-one .banner-inner-style-one p {
            font-size: 48px;
            font-family: var(--body-font);
            font-weight: 600;
            text-transform: uppercase;
            line-height: 3px;
            margin-bottom: -40px;
            color: #fff; 
            margin-left: -435px;
        }

    .banner-style-one .title1 {
        color: #fff;
        font-size: 100px;
        text-transform: capitalize;
        font-family: var(--body-font);
        font-weight: 700;
        text-transform: uppercase; }
    .banner-style-one .banner-small-slider {
        width: 45%;
        position: absolute;
        bottom: 50px;
        left: 60%;
        top: 30%;
        z-index: 1; }
    .banner-style-one .banner-small-slider .controler-wrapper {
        margin-top: 33px;
        padding-left: 10px;
        width: 60%;
        float: right;
        right: 10%; }
        .banner-style-one .banner-small-slider .controler-wrapper .active-controler {
            font-size: 18px;
            letter-spacing: 0.025em; }
        .banner-style-one .banner-small-slider .controler-wrapper .progressbar {
            width: 100px;
            float: left;
            height: 6px;
            position: relative;
            top: 10px;
            margin-right: 20px; }
        .banner-style-one .banner-small-slider .controler-wrapper .progressbar .home-slider-progress {
            background-color: #515151;
            position: absolute;
            width: 100px;
            height: 3px; }
        .banner-style-one .banner-small-slider .controler-wrapper .progressbar .home-slider-progress-active {
            background-color: var(--main-color);
            position: absolute;
            width: 25px;
            height: 2px;
            top: 0px; }
        .banner-style-one .banner-small-slider .controler-wrapper .total-controler {
            text-align: right;
            font-size: 15px;
            letter-spacing: 0.025em;
            color: rgba(255, 255, 255, 0.5); }
    .banner-style-one .small-slider img {
        width: 260px;
        border-radius: 10px; }
    .banner-style-one .small-slider .slick-active img {
        height: auto;
        margin-right: 20px;
        padding: 10px;
        border-radius: 20px;
        width: auto; }
    .banner-style-one .small-slider .slick-active + .slick-active img {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        margin-left: 10%; }
    .banner-style-one .small-slider .slick-active + .slick-active + .slick-active img {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8); }

    .banner-style-one .border1 {
        top: 0%;
        left: 14%;
        position: absolute;
        height: 100%;
        width: 1px;
        border-left: 1px solid rgba(255, 255, 255, 0.2); }
    .banner-style-one .border1:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: -2px;
        width: 4px;
        height: 30px;
        -webkit-animation: scroll1 6s ease-out infinite;
        animation: scroll1 6s ease-out infinite;
        background: #88C13E;
    }

    .color-main {
        color: #88C13E;
    }

@-webkit-keyframes scroll1 {
    0% {
        opacity: 1;
        bottom: 0; }
    50% {
        bottom: 50%; }
    100% {
        bottom: 100%;
        opacity: 0.5; } }
    
@keyframes scroll1 {
    0% {
        opacity: 1;
        bottom: 0; }
    50% {
        bottom: 50%; }
    100% {
        bottom: 100%;
        opacity: 0.5; } }
    .banner-style-one .border2 {
        top: 0%;
        left: 50%;
        position: absolute;
        height: 100%;
        width: 2px;
        border-left: 1px solid rgba(255, 255, 255, 0.2); }
    .banner-style-one .border2:before {
        content: '';
        position: absolute;
        top: 0;
        right: -2px;
        width: 4px;
        height: 30px;
        -webkit-animation: scroll2 6s ease-out infinite;
        animation: scroll2 6s ease-out infinite;
        background: #88C13E;
        overflow: hidden; }

@-webkit-keyframes scroll2 {
    0% {
        opacity: 1;
        top: 0; }
    50% {
        top: 50%; }
    100% {
        top: calc(100% - 30px);
        opacity: 0.5; } }
    
@keyframes scroll2 {
    0% {
        opacity: 1;
        top: 0; }
    50% {
        top: 50%; }
    100% {
        top: calc(100% - 30px);
        opacity: 0.5; } }
    .banner-style-one .border3 {
        top: 120px;
        position: absolute;
        height: 1px;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .banner-style-one .border4 {
        top: 80%;
        left: 50%;
        position: absolute;
        height: 1px;
        width: 755px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        transform: translateX(0%);
    }
    .banner-style-one .border4:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 30px;
        height: 4px;
        -webkit-animation: scroll3 7s ease-out infinite;
        animation: scroll3 7s ease-out infinite;
        background: #88C13E; }

@-webkit-keyframes scroll3 {
    0% {
        opacity: 1;
        left: 0; }
    50% {
        left: 50%; }
    100% {
        left: 100%;
        opacity: 0.5; } }

@keyframes scroll3 {
    0% {
        opacity: 1;
        left: 0; }
    50% {
        left: 50%; }
    100% {
        left: 100%;
        opacity: 0.5; } }

@-webkit-keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1), 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1);
        box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1), 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1); }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1), 0 0 0 60px rgba(136, 193, 62, 0);
        box-shadow: 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1), 0 0 0 60px rgba(136, 193, 62, 0); } }

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1), 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1);
        box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1), 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1); }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1), 0 0 0 60px rgba(136, 193, 62, 0);
        box-shadow: 0 0 0 20px rgba(136, 193, 62, 0.1), 0 0 0 40px rgba(136, 193, 62, 0.1), 0 0 0 60px rgba(136, 193, 62, 0); } }
    
@-webkit-keyframes pulse1 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.4);
        box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.4); }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(136, 193, 62, 0.2);
        box-shadow: 0 0 0 10px rgba(136, 193, 62, 0.2); }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1);
        box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1); } }

@keyframes pulse1 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.4);
        box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.4); }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(136, 193, 62, 0.2);
        box-shadow: 0 0 0 10px rgba(136, 193, 62, 0.2); }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1);
        box-shadow: 0 0 0 0 rgba(136, 193, 62, 0.1); } }
    .banner-style-one .slick-prev, .banner-style-one .slick-next {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        z-index: 9;
        top: auto;
        bottom: -78px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.8); }
    .banner-style-one .slick-prev:hover, .banner-style-one .slick-next:hover {
        background: var(--main-color);
        border-color: #88C13E; }
        .banner-style-one .slick-prev:hover:before, .banner-style-one .slick-next:hover:before {
            color: #fff; }
    .banner-style-one .slick-prev::before, .banner-style-one .slick-next::before {
        font-family: 'fontawesome';
        color: #161616;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        line-height: 15px; }
    .banner-style-one .slick-prev {
        position: absolute;
        left: 12%; }
    .banner-style-one .slick-prev:before {
        content: "\f104"; }
    .banner-style-one .slick-next {
        left: calc(12% + 50px); }
    .banner-style-one .slick-next:before {
        content: "\f105";
        padding-left: 2px; 
    }
    .banner-button {
        background: #88C13E;
        font-size: 26px;
        padding: 8px 55px;
        border-radius: 30px;
        height: 60px;
        color: #161616;
        letter-spacing: 7px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10px;
        margin-left: 100px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; 
    }

    .banner-button:hover {
        color: #fff;
    }


    .service-box-style-01 {
        margin-bottom: 45px;
        display:grid;

    }
    .service-box-style-01 .sb-icon {
        color: var(--main-color);
        margin-bottom: 10px; }
    .service-box-style-01 .sb-content h4 {
        color: #515151;
        font-size: 24px;
        letter-spacing: 0;
        font-weight: 600;
        margin-bottom: 15px; }
    .service-box-style-01 .sb-content p {
        font-size: 16px;
        letter-spacing: 0.38px;
        color: #515151;
        font-weight: 400;
        font-family: var(--rubik-font); }



    .main{

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        justify-content: space-between;
        background-image: url(https://mauiathletics.com/wp-content/uploads/2020/06/pesas-gym-png-2.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .start{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 450px;
    }

    .end {
        display: flex;
        flex-direction: column; 
        justify-content:flex-end;
        width: 450px;
    } 

    .h4 {
        color: #88C13E;
    font-size: 24px;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 5px;
    }

    .content p2 {
        font-size: 16px;
        letter-spacing: 0.38px;
        color: #515151;
        font-weight: 400;
        font-family: var(--rubik-font);
    }

    .content p1 {
        font-size: 16px;
        letter-spacing: 0.38px;
        color: #515151;
        font-weight: 400;
        font-family: var(--rubik-font);
    }

    .title {
        font-size: 50px;
    }



