.clientcard .MuiCardMedia-root {
    transition: transform 0.5s;
    border-radius: 200px;
}

.clientcard .MuiCard-root:hover .MuiCardMedia-root {
    transform: rotateY(180deg);
}

.clientcard .MuiCard-root {
    box-shadow: 0 8px 40px -12px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    /* border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    margin: 0 35px;

    background-color: transparent;
}
